.app {
    overflow: hidden;
}

body, html {
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.2;
}
body {
    font-size: .875rem;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}


.pIHdXn {
    display: flex;
    padding: 16px 0 25px;
}
.container{
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}
.kul4\+s{
    display: block;
    width: 180px;
    flex-shrink: 0;
}

.AmWkJQ{
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
}

._1O4r\+C, .avatar {
    width: 50px;
    height: 50px;
}

.avatar {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    border: 0.0625rem solid rgba(0,0,0,.09);
    box-sizing: border-box;
}

.avatar__placeholder {
    width: 100%;
    position: relative;
    padding-top: 100%;
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
}
.avatar__placeholder .icon-headshot {
    stroke: #c6c6c6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.avatar__img {
    border-radius: 50%;
}

.avatar__img, .avatar__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    display: block;
}
.miwGmI {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    overflow: hidden;
}
.mC1Llc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
    font-size: 12px;
}
._78QHr1 {
    color: #888;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 12px;
}
.rhmIbk {
    list-style: none;
    padding: 0;
    margin: 27px 0 0;
    cursor: pointer;
}
.stardust-dropdown {
    position: relative;
}
.\+1U02e {
    text-decoration: none;
    color: rgba(0,0,0,.87);
    display: flex;
    align-items: center;
    margin-bottom: 0.9375rem;
}
.\+1U02e, .qyt-aY {
    text-transform: capitalize;
    transition: color .1s cubic-bezier(.4,0,.2,1);
}
.bfikuD {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    flex-shrink: 0;
    margin-right: 0.625rem;
}
.bfikuD img{
    width: 20px;
    height: 20px;
}
.DlL0zX {
    line-height: 1rem;
}
.adF7Xs {
    font-weight: 500;
    margin-right: 0.3125rem;
    padding-left: 17px;
    font-size: 15px;
}
.stardust-dropdown__item-body--open {
    height: auto;
    opacity: 1;
}
.Yu7gVR {
    display: block;
    padding: 0 0 0.1875rem 2.125rem;
}
.qyt-aY:hover, .tH0d6d {
    color: #ee4d2d;
}
.FEE-3D {
    text-decoration: none;
    color: rgba(0,0,0,.87);
    display: block;
    margin-bottom: 0.9375rem;
    color: rgba(0,0,0,.65);
}
.qyt-aY {
    font-size: 15px;
    display: block;
    padding-left: 16px;
}
.xMDeox {
    position: relative;
    flex-grow: 1;
    width: 980px;
    box-sizing: border-box;
    margin-left: 1.6875rem;
    min-width: 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.13);
    border-radius: 0.125rem;
}
.Hvae38 {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}
.b7wtmP {
    padding: 0 1.875rem 0.625rem;
}
._66hYBa {
    border-bottom: 0.0625rem solid #efefef;
    padding: 1.125rem 0;
}
.SbCTde {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: #333;
}
.zptdmA {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.0625rem;
    color: #555;
}
.R-Gpdg {
    padding-top: 1.875rem;
}
.volt8A {
    flex: 1;
    padding-right: 3.125rem;
}
.Zj7UK\+ {
    width: 602px;
}
.espR83 {
    text-align: right;
    color: rgba(85,85,85,.8);
    overflow: hidden;
    padding-bottom: 30px;
    white-space: nowrap;
    min-width: 20%;
}
.espR83 label{
    font-size: 14px;
}
.Tmj5Z6 {
    box-sizing: border-box;
    padding-left: 20px;
    padding-bottom: 30px;
}
._0ZgK9X {
    align-items: center;
    display: flex;
}
.uxYEXm {
    font-size: 14px;
    color: #333;
}
.DJRxAF {
    border: 0;
    outline: none;
    background: none;
    color: #05a;
    font-size: 12px;
    text-transform: capitalize;
    text-decoration: underline;
}
.W50dp5 {
    align-items: center;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgba(0,0,0,.02);
}
.CMyrTJ {
    background: none;
    padding: 12px;
    outline: none;
    border: 0;
    flex: 1;
    flex-shrink: 0;
    filter: none;
}
.form-select {
    font-size: 14px;
}
.Date {
    font-size: 14px;
}
input{
    font-size: 14px;
}
.btn-solid-primary {
    color: #fff;
    position: relative;
    overflow: visible;
    outline: 0;
    background: #ee4d2d;
}
.btn--m {
    height: 40px;
    padding: 0 20px;
    min-width: 70px;
    max-width: 220px;
}
.btn--inline {
    display: inline-flex;
}
.btn {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    flex-direction: column;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
    border-radius: 2px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    outline: 0;
    cursor: pointer;
}
